<tml>  {%comment%}Use the appropriate tags for html5 and extend from base.html (create this){% endcomment%}
    <head>   <link href="register.css" rel="stylesheet" type="text/css" />
    <title>  
    Registration Page  
    </title>  
    </head>  
    <body bgcolor="red">{% comment %} avoid inline styles {% endcomment %}
        <form action="{% url 'register' %}" method="POST"> 
            {% csrf_token %}
        {{ form.as_p }} <input type="submit" value="register"> 
         </form> 
    <br>  

    {% comment %} removed commented code and keep it clean {% endcomment %}
    <a 
    <!-- <form>   -->
      
    <!-- <label> Username </label>         
    <input type="text" name="Username" size="15"/> <br> <br>  
    Password:  
    <input type="Password" id="pass" name="pass"> <br>   
    <br> 
    Re-type password:  
    <input type="Password" id="repass" name="repass"> <br> <br>  
    <input type="button" value="Submit"/>   -->
    <!-- </for  m> -->
    </body>  
    </html>  


